.header,
.mobileMenu {
  width: 100%;
  height: 96px;
  background: linear-gradient(
    to top,
    var(--contrast-bg-primary) 35%,
    var(--contrast-bg-secondary)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  z-index: 1000;
  ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }
  li {
    margin: 0 var(--size-4);
  }
  a {
    color: var(--paragraph-font-color);
    font-weight: 800;
    font-size: var(--size-5);
  }
  a:hover,
  a:active,
  a.active {
    text-decoration: underline var(--main-accent-color);
    text-decoration-thickness: 3px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 16px;
  }

  .mobileMenu {
    height: 166px;
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-70px);
    transition: transform 0.225s ease-in-out;
    z-index: 99;
    background: none;
    background-color: var(--contrast-bg-primary);
    nav {
      width: 100%;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    li {
      width: 100%;
      padding: 8px 0;
      margin: 0;
      text-align: center;
    }
    li:hover {
      cursor: pointer;
      background-color: #00000050;
    }
    a {
      width: 100%;
      font-size: var(--size-4);
    }
    a:hover,
    a:active,
    a.active {
      text-decoration: none !important;
    }
  }
  .mobileMenuOpen {
    transform: translateY(96px);
  }
}

.headerAnimationShow {
  transform: translateY(-70);
  transition: transform 0.225s ease-in-out;
}
.headerAnimationHide {
  transform: translateY(-100%);
  transition: transform 0.225s ease-in-out;
}

/*!
* Hamburgers
* @description Tasty CSS-animated hamburgers
* @author Jonathan Suh @jonsuh
* @site https://jonsuh.com/hamburgers
* @link https://github.com/jonsuh/hamburgers
*/

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--main-accent-color);
}

.hamburger-box {
  width: 40px;
  height: 23px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--main-accent-color);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
     * Squeeze
     */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
