.container {
  border: var(--color-secondary) 3px solid;
  border-radius: var(--border-radius);
  width: 80%;
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  min-width: 250px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
