.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
  margin: 10px;
  max-width: 400px;
  border: 6px solid var(--color-primary);
  border-radius: var(--border-radius);
  background: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    var(--color-primary) 100%
  );
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  box-sizing: border-box;
  border-radius: 0px;
}
